[submodule "HadeelAlharthi_BC15_code"]
	path = HadeelAlharthi_BC15_code
	url = https://github.com/Hadeel90/HadeelAlharthi_BC15_code
[submodule "AndrewGenualdi_BC15_code"]
	path = AndrewGenualdi_BC15_code
	url = https://github.com/loldi/AndrewGenualdi_BC15_code
[submodule "leylanovini_BC15_code"]
	path = leylanovini_BC15_code
	url = https://github.com/LeylaNovini/leylanovini_BC15_code
[submodule "TaylorRodriguez_BC15_Code"]
	path = TaylorRodriguez_BC15_Code
	url = https://github.com/rodrt215/TaylorRodriguez_BC15_Code
[submodule "YanHong_BC15_code"]
	path = YanHong_BC15_code
	url = https://github.com/hongy935/YanHong_BC15_code
